<h1>Product List</h1>

<div>
  <ul>
    <li *ngFor="let product of products$ | async">
      {{product.name}}<br/>
      {{product.description}}<br/>
      {{product.price}}
      <button (click)="onEdit(product)">Edit</button>
      <button (click)="onDelete(product)">Delete</button>
    </li>
  </ul>

  <button (click)="onAdd()">Add</button>

  <my-edit-product *ngIf="editing" [product]="selectedProduct" [mode]="'update'" (close)="onFormClosed()"></my-edit-product>

  <my-edit-product *ngIf="adding" [mode]="'create'" (close)="onFormClosed()"></my-edit-product>
</div>
